@model AppUser

<div class="bg-primary m-1 p-1 text-white"><h4>@Model.UserName</h4></div>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="UserProps" method="post">
    <div class="form-group">
        <label asp-for="City">Miasto</label>
        <select asp-for="City" class="form-control" asp-items="@new SelectList(Enum.GetNames(typeof(Cities)))">
            <option disabled selected value="">Wybierz miasto</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Qualifications">Kwalifikacje</label>
        <select asp-for="Qualifications" class="form-control" asp-items="@new SelectList(Enum.GetNames(typeof(QualificationLevels)))">
            <option disabled selected value="">Wybierz kwalifikacje</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Zapisz</button>
    <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
</form>