<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Użytkownicy</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    @*<script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="725085968814-cpkbfe4g6hfu7oegubtmc3o8k73e4p4b.apps.googleusercontent.com">*@

</head>
<body class="m-1 p-1">
    @RenderBody()
</body>
</html>
