@model Player

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="PlayerID" />
    <div class="form-group">
        <label asp-for="Name">Imię</label>
        <div><span asp-validation-for="Name" class="text-danger"></span></div>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Surname">Nazwisko</label>
        <div><span asp-validation-for="Surname" class="text-danger"></span></div>
        <input asp-for="Surname" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Zapisz</button>
        <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
    </div>
</form>