@model Person

@{
    ViewBag.Title = "Tworzenie użytkownika";
    Layout = "_Layout";
}

<form asp-action="DisplaySummary" method="post">
    <div class="form-group">
        <label asp-for="PersonId">ID</label>
        <input asp-for="PersonId" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="FirstName">Imię</label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LastName">Nazwisko</label>
        <input asp-for="LastName" class="form-control" />
    </div>
    <select asp-for="Role" class="form-control" asp-items="@new SelectList(Enum.GetNames(typeof(Role)))"></select>
    <div class="form-group">
        <label asp-for="HomeAddress.City">Miasto</label>
        <input asp-for="HomeAddress.City" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="HomeAddress.Country">Kraj</label>
        <input asp-for="HomeAddress.Country" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Dodaj</button>
</form>