@model DateTime
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kontrolery i akcje</title>
    <link rel="stylesheet" asp-href-include="~/lib/bootstrap/dist/**/*.min.css" />
</head>
<body class="m-1 p-1">
    <p>Dzisiejszy dzień to @ViewBag.Date.DayOfWeek</p>
    <p>Komunikat: @ViewBag.Message</p>
</body>
</html>
