@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="~/lib/bootstrap/dist/**/*.min.css" />
    <title>Błąd</title>
</head>
<body>
    <h2 class="text-danger">Błąd</h2>
    <h3 class="text-danger">Podczas przetwarzania wystąpił błąd.</h3>
</body>
</html>
