@model Product[]

@{
    ViewBag.Title = "Nazwa produktu";
}

<table>
    <thead>
        <tr><th>Produkt</th><th>Cena</th></tr>
    </thead>
    <tbody>
        @foreach (Product p in Model)
        {
            <tr>
                <td>@p.Name</td>
                <td>@($"{p.Price:C2}")</td>
            </tr>
        }
    </tbody>
</table>